---
import Layout from "../layouts/Layout.astro";
import SideContainer from "../components/ContainerNamed.astro";
import ContainerRepositoryItem from "../components/ItemRepository.astro";
import Hero from "../components/Hero.astro";

const socialsAndContact = [{
  reference: "https://github.com/kvdpxne",
  name: "GitHub",
  icon: "social_github",
  value: "kvdpxne"
}, {
  reference: "https://twitter.com/kvdpxne",
  name: "X (formerly Twitter)",
  icon: "social_twitter",
  value: "kvdpxne"
}, {
  reference: "mailto:kvdpxne@gmail.com",
  name: "Email",
  icon: "contact_email",
  value: "kvdpxne@gmail.com"
}];

const skills = [{
  reference: "https://angular.io",
  name: "Angular",
  icon: "framework_angular",
  value: 12
}, {
  reference: "https://astro.build",
  name: "Astro",
  icon: "framework_astro",
  value: 0
}, {
  reference: "https://react.dev",
  name: "React",
  icon: "framework_react",
  value: 13
}, {
  reference: "https://spring.io",
  name: "Spring",
  icon: "framework_spring_boot",
  value: 14
}, {
  name: "Java",
  icon: "language_java",
  value: 61
}, {
  name: "JavaScript",
  icon: "language_javascript",
  value: 13
}, {
  name: "Kotlin",
  icon: "language_kotlin",
  value: 17
}, {
  name: "TypeScript",
  icon: "language_typescript",
  value: 12
}];

const fs = "Repozytorium zawiera open-source kod strony portfolio, na której obecnie jesteś z " +
  "informacjami o autorze. Pełne środowisko do prezentacji umiejętności, " +
  "projektów i kontaktu."
---

<Layout>
  <div class="flex justify-center">
    <div class="container">

      <!-- Header -->
      <div class="w-full h-screen flex items-center">
        <Hero/>
      </div>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-24">
				<div>
					<SideContainer title="Skills" items={skills}/>
				</div>

				<div class="space-y-4">
					<SideContainer title="Socials & Contact" items={socialsAndContact}/>
					<div class="ps-2 pe-2">
            <span class="font-bold">
              Proszę unikać korzystania z tych opcji kontaktu w celu
              uzyskania pomocy technicznej.
            </span>
						<p>
							Najlepiej nadaje się do tego narzędzie do śledzenia problemów
							odpowiednie dla oprogramowania, z którym potrzebujesz pomocy.
							Z góry dziękuję!
						</p>
					</div>
				</div>
			</div>

      <h2>Some Projects</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-24">
        <div class="space-y-4">
					<ContainerRepositoryItem name="kvdpxne/covilo"
																	 description={fs}
																	 language="Java"
																	 color="#ff5a03"/>
					<ContainerRepositoryItem name="kvdpxne/destroy-the-monument"
																	 description={fs}
																	 language="Kotlin"
																	 color="#ff5a03"/>
        </div>
        <div class="space-y-4">
					<ContainerRepositoryItem name="kvdpxne/akvato"
																	 description={fs}
																	 language="Astro"
																	 color="#ff5a03"/>
        </div>
      </div>


    </div>
  </div>
</Layout>
